<!-- Project      : openni_pcl_grabber -->
<!-- File         : test_show_cloud.launch -->
<!-- created by bss at 2014-07-12 -->
<!-- Last modified: 2014-07-12, 00:52:14
    !-->


<launch>

  <node pkg="pcl_ros" name="pcl2img" type="convert_pointcloud_to_image" output="screen">
    <remap from="input" to="/openni/points2" />
    <remap from="output" to="/openni/points2_image" />
  </node>

  <node pkg="image_view" name="image_view" type="image_view" output="screen">
    <remap from="image" to="/openni/points2_image" />
  </node>

</launch>
