<launch>
    
    <param name="/use_sim_time" value="false" />

    <node pkg="openni2_camera" type="openni2_camera_node" name="openni2_camera_node" output="screen" />

    <include file="$(find openni_pcl_grabber)/convert_img_to_cloud.launch" />

    <node pkg="detecting_people" type="detecting_people" name="detecting_people" output="screen">
    </node>

    <include file="$(find pocketsphinx)/furoc/starter/starter.launch" />
    <node pkg="speech_recognize" type="rec_starter_cmd.py" name="rec_starter_cmd">
        <param name="task" value="followme" />
    </node>

    <node pkg="followme_ctrl" type="followme_ctrl_node" name="followme_ctrl_node" output="screen">
    </node>


</launch>
