<launch>

    <param name="/use_sim_time" value="false"/>

    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" >
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output = "screen">
        <param name="map_udpate_interval" value="1.0"/>
        <param name="maxUrange" value="50.0"/>
        <param name = "xmin" value="-20.0"/>
        <param name = "ymin" value="-2.0"/>
        <param name = "xmax" value="20.0"/>
        <param name = "ymax" value="20.0"/>
        <param name = "delta" value="0.03"/>
        <param name = "maxRange" value = "55.0"/>
    </node>

</launch>
